.LineContainer{
    width: 30%;
    height: 300px;

}

.BarContainer{
   width: 30%;
    height: 300px;
}

.ChartContainer{
    display: flex;
    flex-direction: row;
justify-content: center;
column-count: 2
}