#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

svg {
  width: 80vw;
  height: 80vh;
  background: white;
  overflow: visible;
  margin-bottom: 2rem;
  display: block;
}
button {
  margin-bottom: 5px;
  width: 100px;
}

svg .country:hover {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}



.legend {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3px;
    color: black;
    background: white;
  
}

  .legend-text {
        display: flex;
       
    }
.legend-color1 {
    width: 25px;
    height: 20px;
    background: #fcf4d9;
    margin-right: 3px;
}
.legend-color2 {
    width: 25px;
    height: 20px;
    background: #8ED2C9;
     margin-right: 3px;
}
.legend-color3 {
    width: 25px;
    height: 20px;
    background: #FF7A5A;
     margin-right: 3px;
}
.legend-color4 {
    width: 25px;
    height: 20px;
    background: #FFB85F;
     margin-right: 3px;
}
.legend-color5 {
    width: 25px;
    height: 20px;
    background: #462066;
     margin-right: 3px;
}
.legend-color6{
  width: 25px;
    height: 20px;
    background: black;
     margin-right: 3px;
}